asarPy==1.0.1
asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
idna==3.10
pillow==10.4.0
psycopg2-binary==2.9.10
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wheel==0.44.0
